* {
    scroll-behavior: smooth;
}

.bigDiv {
    width: 350px;
    background-color: #415a77;
    border-radius: 15px;
    margin: 10px 0;
    overflow: hidden;
    box-sizing: border-box  ;
}

.mainC {
    width: 80vw;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: solid 2px #4ea8de;
    border-radius: 15px;
}

.big{
    padding: 10px;
    margin: 10px;
    display: block;
    /* justify-content: center; */
    /* align-items: center; */
}