.outer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.8);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.8s ,opacity 0.8s;
}


.modalAdd{
    position: relative;
    background-color: #415a77;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Mont' ;
    border-radius: 15px;
}

.bg-active{
    visibility: visible;
    opacity: 1;
}

.cst{
    /* background-color: #415a77; */
    position: relative;
    
}